/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}






.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
} */

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}

/* .boxx {
  box-shadow: 10px 5px 5px red;
} */

.boxx {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-column-gap: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  background: radial-gradient(ellipse farthest-corner at right bottom, 
  #FFE29F 0%, #FFD365 8%, #C29842 30%, #B38634 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, 
  #FFFFFF 0%, #FFF7B0 8%, #E5C870 25%, #8B6C35 62.5%, #8B6C35 100%);

  align-items: center;
  
  
  padding: 8px;
  border-radius:30px 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px; /* เงา 3 มิติที่ดูนูนขึ้น */
  text-align: center; /* จัดข้อความให้อยู่กลาง */
  width: 100vh; /* กำหนดความกว้าง */
}
.profileAvatar {
background: #87d068;
 box-shadow: rgba(0, 0, 0, 0.3)2px 2px 5px, // เงาให้กับ Avatar
}